.menu {
  position: absolute;
  height: 100%;
  width: 100%;
}

.title {
  height: 10px;
  display: flex;
  justify-content: center;
  border-bottom:1px solid;
  border-bottom-color: black;
  padding-top: 2px;
  padding-bottom: 2px;
}

.menu-items {
}

.menu-item {
  padding-top: 4px;
  padding-bottom: 4px;
}

.menu-item.selected {
  color: #eeeeee ;
  background-color: #212121;
}

