.menu {
  position: absolute;
  height: 100%;
  width: 100%;
}

.title {
  height: 10px;
  display: flex;
  justify-content: center;
  border-bottom:1px solid;
  border-bottom-color: black;
  padding-top: 2px;
  padding-bottom: 2px;
}

.menu-items {
}

.menu-item {
  display: flex;
  justify-content: space-between;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 5px;
  padding-left: 3px;
}

.menu-item.selected {
  color: #eeeeee ;
  background-color: #212121;
}


.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}

.chevron.right:before {
	left: 0;
	transform: rotate(45deg);
}
